<nav>
	<a href="/">Home</a>
	<a href="/about">About</a>
</nav>
<header>
    <div class="main">
    	<h3><u>Selamat Datang!</h3></u>
    	<ul>
	    	<li><a href="/" class="active">Home</a></li>
	    	<li><a href="/about">about</a></li>
	    	<li><a href="/galeri">Galeri</a></li>
	    	<li><a href="/contact">Contact</a></li>
    	</ul>
    </div>
  </header>