<!DOCTYPE html>
<html>
<head>
  <title>User</title>
  <link rel="stylesheet" type="text/css" href="/assezts/css/style.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>
<body>
    <div class="card-header mb-5">
	<%- include('../components/navbar') %>
    </div>
<div class="container">
    <div class="card mb-5">

            <div class="badan">
            <div class="judul">
                        <h2>Add User</h2>
            </div>
            </div>

            <form action="/users" method="POST">
                <div class="input-group">
                    <label for="">Name</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label for="">Email</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label for="">Password</label>
                    <input type="text" name="password">
                </div>
                <button type="submit">Send</button>
                <a href="/users">Back</a>
                </form>
    </div>
</div>
<footer>
    <%- include('../components/footer') %>
</footer>




</body>
</html>