<!DOCTYPE html>
<html>
<head>
  <title>User</title>
  <link rel="stylesheet" type="text/css" href="/assezts/css/style.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>
<body>
    <div class="card-header mb-5">
	<%- include('../components/navbar') %>
    </div>
<div class="container">
    <div class="card mb-5">
  <h2>Daftar User</h2>
      <ul>
        <% if(users.length > 0) { %>
          <% users.forEach(function(user) { %>
              <li><a href="/users/<%=user.id %>">
              <%=user.name.toUpperCase(   ) %></a>
              </li>
          <% }) %>
        <% } else { %>
          <li>Data User Kosong</li>
        <% } %>
    </ul>
    <a href="/users/create">REGISTER</a>
    </div>
</div>
<footer>
  <%- include('../components/footer') %>
</footer>




</body>
</html>