<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>
	<%- include('components/navbar_public') %>

  <div class="badan">
  <div class="judul">
  			<h2>About</h2>
  </div>
  </div>

<footer>
	&copy; 2020 Muhammad Amrin Mukhodas</p>
</footer>




</body>
</html>