<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>
	<%- include('components/navbar') %>

  <div class="badan">
    <div class="sidebar">
      <img src="https://politap.ac.id/wp-content/uploads/2018/08/Logo_Politap_kecil.png"> <br> <br> 
    </div>
  

  <div class="judul">
      <form>

          Nama:<br>

          <input type="text"><br><br>

          Email:<br>

          <input type="Email"><br><br>

          Pesan:<br> <textarea rows="6"cols="100">

          </textarea><br><br>
          <a href = "mailto: amrin10122000@gmail.com">Kirim</a>

      </form>
        
  </div>
  </div>

<footer>
	&copy; 2020 Muhammad Amrin Mukhodas</p>
</footer>




</body>
</html>