<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>
	<%- include('components/navbar') %>

  <div class="badan">
  	<div class="sidebar">
  		<img src="https://politap.ac.id/wp-content/uploads/2018/08/Logo_Politap_kecil.png"> <br> <br>
  	</div>
  

  <div class="judul">
  	<img src="assets/img/profile.jpg">
  	Teknik Informatika <br>
  			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut sem suscipit, dictum diam a, molestie velit. Pellentesque at ultricies justo, et hendrerit augue. Vivamus imperdiet aliquet ligula eu pharetra. Nullam rutrum leo sem, vitae commodo risus semper sed. Donec varius nisl a urna feugiat, id consectetur lectus euismod. In tempor sodales ipsum, ut gravida nibh luctus quis. Quisque sit amet interdum nulla. Suspendisse suscipit tellus et accumsan pulvinar. In nec lectus quis lorem gravida interdum a ac justo. Quisque magna nunc, convallis sit amet felis ac, lacinia fringilla massa. Nulla ac orci consectetur, blandit neque viverra, ornare elit. Donec suscipit ornare ex, id tincidunt est mattis vitae. Aliquam quis ante leo.</p><br><br>
        <p>Aenean eleifend, ipsum eget ultrices lobortis, tellus est gravida sapien, a dapibus nisi libero ac turpis. Aliquam pretium diam vel risus tristique, at placerat justo rhoncus. Aenean mattis metus ut leo tincidunt, eu rhoncus sapien elementum. Nunc vitae ultrices diam. Morbi scelerisque volutpat odio vitae imperdiet. Suspendisse condimentum nisi velit, ac rutrum libero pretium nec. Vivamus et mi ultricies turpis tristique vestibulum. Morbi eget nibh odio.</p><br>
        <p>Aliquam sed gravida arcu, vitae feugiat mauris. Mauris sodales, lacus ac convallis ullamcorper, ipsum velit sollicitudin nunc, vel tincidunt ante lorem eget libero. Nunc in tortor orci. Sed ullamcorper, augue non rhoncus vulputate, elit velit feugiat ex, non pellentesque tortor augue eget eros. Ut et dui massa. Sed et lacus at lectus sodales molestie. Nam a egestas justo. Donec eget eros a ligula porta semper. Mauris accumsan a mauris vel fringilla. Donec massa tellus, fringilla quis urna sit amet, interdum posuere risus. Nunc consectetur ullamcorper eros, sed scelerisque massa eleifend venenatis. Fusce non maximus libero, vel sodales sapien. Aenean interdum fermentum sem, a porttitor augue vestibulum eu. Mauris hendrerit urna sit amet dui sollicitudin, a vestibulum turpis finibus. Duis malesuada et elit id posuere.</p><br>
        <p>Quisque eget convallis libero. Sed eget aliquam tellus. Curabitur vel elit nunc. Nulla non placerat nisl. Suspendisse convallis ultricies enim at iaculis. Nullam viverra lacus non fringilla pellentesque. Vivamus convallis in erat eu finibus. Praesent tortor leo, imperdiet pellentesque augue nec, iaculis porttitor felis. Nulla non odio pellentesque, rhoncus erat eget, dapibus diam. Suspendisse eget diam blandit augue facilisis lobortis. Duis euismod euismod magna, nec volutpat est sodales nec. Suspendisse cursus tellus eu ipsum rutrum, in semper diam molestie. Duis et ante consequat, aliquet massa in, lacinia diam. Morbi ut leo tempor, porttitor ligula vel, feugiat ipsum. Ut id erat cursus, aliquet sem vitae, facilisis justo. Praesent sem mauris, malesuada eget aliquet non, luctus at urna.</p><br>
        <p>Mauris et dignissim dolor, at facilisis augue. Phasellus venenatis nisl non tristique ornare. Suspendisse auctor ullamcorper libero, at aliquam nulla rhoncus et. Curabitur gravida sem vel pharetra dignissim. Suspendisse potenti. Maecenas dui leo, porta id lorem vitae, dignissim vulputate massa.</p>
  </div>
  </div>

<footer>
	&copy; 2020 Muhammad Amrin Mukhodas</p>
</footer>




</body>
</html>